<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Game of Life</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="header">
    <div class="title">
      <h1>The Game of Life</h1>
      <h2>In the memory of <em>John Conway</em></h2>
    </div>
    <div class="controls">
      <hr>
      <h3>Grid Setup:</h3>
      <div>
        <label for="rows">Rows:</label>
        <input type="number" id="rows" name="rows" value="25">
        <label for="cols">Cols:</label>
        <input type="number" id="cols" name="cols" value="25">
      </div>
      <div>
        <input type="button" value="Clear Grid" class="clear-grid">
        <input type="button" value="Start Game" class="start-game">
      </div>
      <h3>Controls:</h3>
      <div>
        <input type="button" value="See Colors" class="colors">
        <input type="button" value="Reset" class="reset">
      </div>
      <div>
        <input type="button" value="Pause" class="pause">
        <input type="button" value="Step" class="step" disabled>
      </div>
    </div>
  </div>
  
  <div class="container">
    <canvas id = "canvas"></canvas>
  </div>

  <script src="/js/responsive.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/controls.js"></script>
</body>
</html>